.container-form {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-content: center;
    .account-form {
      padding: 20px;
      .form-control {
          display: inline-grid;
      }
  }
}

.caption {
    margin-left: 5%;
    margin-top: 5%;
    font-weight: bold;
}