<div class="bg-secondary navbar-customization">
    <nav>
      <div class="nav-item" (click)="activateDetails()">
        <i class="fa fa-user" tooltip="User Details" placement="right"></i>
        <div class="row" *ngIf="isOpen">
          <span>All Budgets</span><i class="fa" [ngClass]="{'fa-chevron-up': showDetails, 'fa-chevron-down': !showDetails}"></i>
        </div>
      </div>
      <div *ngIf="showDetails">
        <div class="nav-item margin-left" (click)="goToAllBudgets()">
          <i class="fa fa-list" tooltip="All Budgets" placement="right"></i>
          <div *ngIf="isOpen">Open Budgets</div>
        </div>
      </div>
      <div class="nav-item" (click)="goToBudgetDetails()">
        <i class="fa fa-cog" tooltip="Budget details" placement="right"></i>
        <div *ngIf="isOpen">Budget</div>
      </div>
      <div class="nav-item" (click)="goToAccounts()">
        <i class="fa fa-list" tooltip="All Account" placement="right"></i>
        <div *ngIf="isOpen">Accounts</div>
      </div>
      <div class="nav-item" (click)="goToPayeesList()">
        <i class="fa fa-list" tooltip="List of payees" placement="right"></i>
        <div *ngIf="isOpen">Payee List</div>
      </div>
    </nav>
  </div>