.transaction-table {
    border: 1px solid #000000;
    margin-left: 10%;
    margin-top: 2%;
}

.table-row {
   border: 1px solid #000000;
   padding: 10px;
   cursor: pointer;
}

.table-col {
   border: 1px solid #000000;
   padding: 10px;
}

.table-caption {
   margin-left: 5%;
   margin-top: 5%;
   font-weight: bold;
}